<%- include("header") -%>

    <div class="box" id="heading">

        <h1> <%= tituloLista %></h1>
                
    </div>

    <div class="box">
        <ul>

            <%for (let i=0; i<novosAfazeres.length;i++){ %>

            <div class="item">

                <input type="checkbox" autocomplete="off">
                <p> <%= novosAfazeres[i] %></p>

            </div>
            <% } %>
        </ul>

        <form action="/" method="post" class="item">
            <input type="text" name="novoAfazer" placeholder="Nova Tarefa" required>
            <button type="submit" name="list" value=<%= tituloLista %>>+</button>
        </form>

    </div>
    
<%- include("footer") -%>

</html>